<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WPF_ZooManager.Properties.Settings.csharp_tutorialConnectionString"
            connectionString="Data Source=ORDOMALLEUS\CSHARPSQLTUTOR;Initial Catalog=csharp-tutorial;User ID=sa;Password=pilgor"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>